::ng-deep {
    .btnn {
        background: hsl(340deg 100% 32%);
        border-radius: 12px;
        border: none;
        cursor: pointer;
        outline-offset: 4px;
        position: relative;
        transition: all 0.1s ease-in-out;
        z-index: 9999;

        &:active {
            transform: translateY(2%);

            &::after {
                transform: translateY(0) !important;
            }
        }


    }

    app-root {
        &:has(ngb-carousel) {
            #app-config-modal {
                display: none;
            }
        }
    }


}




#app-config-modal {}